{% extends 'main.html' %}

{% block title %}О нас{% endblock %}

<h2>{% block heading %}О нас{% endblock %}</h2>

{% block content %}

      <p><strong>Башкирия - чудесный заповедный край в центре России. Недаром ее называют второй Швейцарией: величественные горы, красавицы-реки, чистейшие родники, бездонные озера, бескрайние поля, таинственные пещеры - всего не перечислить.
          Ради того, чтобы хоть раз увидеть все это, стоит променять домашний уют на путешествие. Поехали с нами!</strong></p>

{% endblock %}

